.elevatorPitch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 115vh;
    /* width: 100vw; */

    margin-left: 10%;
    margin-right: 10%;
}

.elevatorPitch h1 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 33%;

    margin-top: 0;
    margin-bottom: 0;

    text-wrap: nowrap;
}

.elevatorPitch span.cursive{
    font-size: 5em;
}

.elevatorPitch h1 span.pixel {
    font-size: 3em;
}

.elevatorPitch h2 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 999px;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;


    white-space: nowrap;

    font-size: 2em;

    margin-top: 1%;
    margin-bottom: 0;
}

.elevatorPitch h2 #MAAG {
    margin-top: 0;
}

.elevatorPitch ul {
    white-space: normal;
}

.inline {
    display: inline-flex;
    align-items: center;
}

.inline img {
    padding-right: 3vw;
    box-sizing: border-box;
    align-self: center;
    margin: 0;
}

#links {
    margin-top: 1%;
}

.elevatorPitch #links img, .elevatorPitch a {
    padding-right: 2vw;
}

.elevatorPitch p, a, li {
    font-size: 1.2em;
}

.elevatorPitch a {
    color: #7ad3ec;
    overflow: nowrap;
}

/* .elevatorPitch footer {
    position: absolute; 
    justify-content: right; 
} */

.grid {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
}


#EPloopy {

    position: absolute;
    width: 10%;

    animation-name: EPloopyrotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: .5s;
    animation-delay: 3ms;
}

#EPtwo-star {

    position: absolute;
    width: 7%;

    animation-name: Trotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: .5s;
    animation-delay: 3ms;

}

@keyframes EPloopyrotate {
    0% {
        transform: rotate(-95deg);
    }
    /* 50% {
        transform: rotate(25deg);
    } */
    100% {
        transform: rotate(-85deg);
    }
}