.elevatorPitch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 115vh;
    /* width: 100vw; */

    margin-left: 10%;
    margin-right: 10%;
}

.elevatorPitch h1 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 33%;

    margin-top: 0;
    margin-bottom: 0;

    text-wrap: nowrap;
}

.elevatorPitch span.cursive{
    font-size: 5em;
}

.elevatorPitch h1 span.pixel {
    font-size: 3em;
}

.elevatorPitch h2 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 999px;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;


    white-space: nowrap;

    font-size: 2em;

    margin-top: 0;
    margin-bottom: 0;

    width: fit-content;
}

.elevatorPitch h2 #MAAG {
    margin-top: 0;
}

.elevatorPitch ul {
    white-space: normal;
}

.inline {
    display: inline-flex;
    /* align-items: center; */
}

.inline img {
    padding-right: 3vw;
    box-sizing: border-box;
    align-self: center;
    margin: 0;
}

.elevatorPitch #links img, .elevatorPitch a {
    padding-right: 2vw;
}

.elevatorPitch p, a, li {
    font-size: 1.2em;
}

.elevatorPitch a, strong {
    color: #7ad3ec;
    overflow: nowrap;
}

/* .elevatorPitch footer {
    position: absolute; 
    justify-content: right; 
} */

.grid {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
}

.elevatorPitch #stack {
    margin-bottom: 1em;
}

.elevatorPitch .flexy {
    display: flex;
}

.elevatorPitch .flexyCol {
    display: flex;
    flex-direction: column;
}

.elevatorPitch .box {
    /* overflow: scroll; */

    border-image-source: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    border-width: 2.5px;
    border-style: solid;
    border-image-slice: 1;

    margin-top: 2.5vh;
    margin-bottom: 1vh;
    padding-right: 1vw;

    text-align: left;
}

.elevatorPitch .box-inline {
    min-height: fit-content;
    height: 45vh;
}

.elevatorPitch .small-box {
    padding-left: 1vw;
}

.elevatorPitch .big-flexy {
    width: 43vw;
    /* margin-left: 2.5%;
    margin-right: 2.5%; */
}

.elevatorPitch #big-flexy-1 {
    margin-right: 2.5%;
}

.elevatorPitch #big-flexy-2 {
    margin-right: 2.5%;
}

.elevatorPitch #links {
    margin-top: 1em;
    margin-bottom: 1em;
    width: inherit;

    align-items: center;
}

.elevatorPitch .inline2 {
    align-self: center;
    margin-right: 2.5%;
}

.elevatorPitch #link-box {
    align-self: center;
}