.title {
    display: grid;
    justify-content: center;
    justify-items: center;
}

h3 {
    font-size: 2em;
    margin: 0;
}

span.cursive {
    font-size: 8em;
    padding-right: 1.5vw;
}

span.pixel {
    font-size: 5em;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 5em;
    margin-bottom: -7em;
}

.two-row {
    display: flex;
    flex-direction: column;
    align-items: center;

}