.title {
    display: grid;
    justify-content: center;
    justify-items: center;
}

h1 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 35%;
}

h2 {
    margin: 0;
    text-align: center;
}

h3 {
    font-size: 2em;
    margin: 0;
    text-align: center;
}

.header1-cursive {
    font-size: 8em;
    padding-right: 1.5vw;
}

.header1-pixel {
    font-size: 5em;
}

.header2-cursive {
    font-size: 3em;
}

.header2-pixel {
    font-size: 1.5em;
}

.two-column {
    display: grid;
    grid-template-columns: 30vw 30vw;
}

.top-two-column {
    margin-top: 20vh;
    margin-bottom: -5em;
}

.bottom-two-column {
    margin-top: -5em;
}

.two-row {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.spacer {
    margin: 5em
}

.two-star {
    position: absolute;
    width: 15%;
    top: 20vh;
    left: 20vw;

    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: .5s;
}

.loopy {
    position: absolute;
    width: 17%;
    top: 30vh;
    left: 67vw;

    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: .5s;
}

.poof {
    position: absolute;
    width: 12%;
    top: 55vh;
    left: 23vw;

    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: .5s;
}

.plus {
    position: absolute;
    width: 7%;
    top: 55vh;
    left: 65vw;

    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: .5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    /* 50% {
        transform: rotate(25deg);
    } */
    100% {
        transform: rotate(5deg);
    }
}