.title {
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
    flex-direction: column;
    
    /* margin-top: 5%; */
    margin-left: 10%;
    margin-right: 10%;

    height: 100vh;
    /* width: 100vw; */

    /* border: 1px; */
}

.title h1 {
    text-align: center;
    /* background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center center; */

    /* border-radius: 33%; */

    margin-top: 0%;
    margin-bottom: 0%;

    max-width: 80vw;
    text-wrap: nowrap;
}

/* .title .header1-cursive {
    font-size: 1.5em;
    padding-right: 1.5vw;
} */

.title .header1-pixel {
    font-size: 7em;
}

.title h2 {
    font-size: 2em;
    margin-top: -.5%;
    text-align: justify;
    text-align-last: justify;
    width: 50vw;
}

.title strong {
    color: #7ad3ec;
}

/* .two-column {
    display: flex;

    margin-left: 10%;
    margin-right: 10%;
}

.top-two-column {
    flex-direction: row-reverse;
}

.bottom-two-column {
    flex-direction: row;
}  */

.title img {
    width: 15%;
    align-self: center;
    margin-top: 2.5%;

    border-radius: 50%;
    background-color: #b1e0ed;
    display: flex;
    align-items: center;
}

.title .three-buttons {
    display: flex;
}

.three-buttons h3 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 999px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;


    white-space: nowrap;

    font-size: 2em;
    margin-top: 10vh;
    margin-left: 1vw;
    margin-right: 1vw;
}