.experience {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience h1 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 33%;

    margin-top: 0;
    margin-bottom: 0;
}

.experience span.cursive{
    font-size: 5em;
}

.experience h1 span.pixel {
    font-size: 3em;
}

.horizontal-slider {
    /* align-self: flex-start; */
    width: 100%;
    max-width: 80vw;
    height: 20%;
}

.track {
    background: #ddd;
    height: 5vh;
    top: 2.5vh;

    border-radius: 999px;
}
.track.track-0 {
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto;
    background-repeat: no-repeat;
    /* background-position: center center; */
}

.thumb {
    cursor: pointer;
    top: 1.25vh;
    height: 7.5vh;
    width: 7.5vh;
    /* line-height: 10vh; */
    border-radius: 100%;

    background-color: white;
    border: 1px solid #cccc;
}

.mark {
    top: 2.5vh;
    height: 5vh;
    width: 5vh;
    /* border: 1px solid #cccc; */
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    /* margin: calc(75/5)vh; */
}

.mark.mark-completed {
    background-color: #cccc;
}

.experience p {
    float: left;
}

.box {
    margin-left: 20%;
    margin-right: 20%;

    display: flex;

    /* border: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    border-width: 2px;
    border-style: solid; */

    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.experience h2 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 999px;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;

    width: fit-content;

    white-space: nowrap;

    font-size: 2em;

    margin-top: 1%;
    margin-bottom: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experience strong {
    color: #7ad3ec;
}