.experience {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience h1 {
    text-align: center;
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 33%;

    margin-top: 0;
    margin-bottom: 0;
}

.experience span.cursive{
    font-size: 5em;
}

.experience h1 span.pixel {
    font-size: 3em;
}

.horizontal-slider {
    /* align-self: flex-start; */
    width: 100%;
    max-width: 75vw;
    height: 7.5%;
}

.example-track {
    background: #ddd;
    height: 5vh;
    top: 2.5vh;

    border-radius: 999px;
}
.example-track.example-track-0 {
    background: linear-gradient(.25turn, #b1e0ed, #e2e9ec, #b1e0ed);
    background-size: auto;
    background-repeat: no-repeat;
    /* background-position: center center; */
}

.example-thumb {
    cursor: pointer;
    top: 1.25vh;
    height: 7.5vh;
    width: 7.5vh;
    /* line-height: 10vh; */
    border-radius: 100%;

    background-color: white;
    border: 1px solid #cccc;
}

/* .example-mark {
    height: 10vh;
    width: 10vh;
    line-height: 10vh;
    border-radius: 100%;
} */

.example-mark {
    top: 2.5vh;
    height: 5vh;
    width: 5vh;
    /* border: 1px solid #cccc; */
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    /* margin: calc(75/5)vh; */
}

.example-mark.example-mark-completed {
    background-color: #cccc;
}

.example-mark.example-mark-active {
    background-color: white;
}

.experience p {
    float: left;
}